.vs/
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/

out/
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

*.user
*.aps
*.opendb
*.db
*.suo
*.sln.docstates

*.obj
*.exe
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.lastbuildstate
*.recipe
*.iobj
*.ipdb

.DS_Store
Thumbs.db